body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.location-segment .location-segment-info {
  border: 1px solid black;
  border-radius: 5px; }

.location-segment div {
  height: 100%; }

.hoverable:hover {
  background-color: rgba(193, 125, 191, .10);
}
