body {
  font-family: sans-serif; }

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.app-footer {
  flex: none;
  /* 2 */ }

.julie-purple {
  color: #C17DBF; }

.julie-grey {
  color: #929292; }

.alert {
  padding: 3px;
  height: 55px;
  text-align: center; }

.alert-text {
  margin-top: 10px;
  margin-left: 30px; }

.start-time {
  float: left;
  width: 40%;
  margin-right: 10%; }

.end-time {
  float: left;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 25px; }

.time-input {
  text-align-last: center; }

.plan-itinerary {
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px; }

.map-icon {
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  transform: rotate(30deg);
  height: 64px;
  width: 100px; }

.clickable {
  cursor: pointer; }

.departure-times {
  color: #929292; }

.arrival-times {
  color: #929292; }

.hoverable:hover {
  background-color: rgba(193, 125, 191, 0.2); }

.reverse-hoverable {
  cursor: pointer;
  clear: both;
  border: 1px solid #C17DBF;
  background-color: white;
  color: #C17DBF; }

.reverse-hoverable:hover {
  background-color: #C17DBF;
  color: white;
  border: 1px solid #C17DBF; }

.reverse-hoverable-text {
  color: white; }

.reverse-hoverable-text:hover {
  color: #C17DBF; }

.location-segment .location-segment-info {
  border: 1px solid black;
  border-radius: 5px; }

.location-segment div {
  height: 100%; }

.autoRoot {
  position: relative; }

.autoContainer {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #555555;
  width: 100%;
  z-index: 10; }

.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.transportation-modes > div {
  margin-right: 10px; }
  .transportation-modes > div:last-child {
    margin-right: 0px; }

.nav-hover {
  color: #929292; }

.nav-hover:hover {
  color: #C17DBF; }

.progress-bar-wrapper .progress-bar:first-of-type {
  background: lightblue !important; }

.progress-bar-wrapper .progress-bar:last-of-type {
  background: #929292 !important; }
