// Custom variables
@import './stylesheets/variables';

// Scss version of Bootstrap
//@import '~bootstrap/scss/bootstrap.scss';

body {
  // margin: 0;
  // padding: 0;
  font-family: sans-serif;
}

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-footer {
  flex: none; /* 2 */
}

.departure-times {
  color: darkgrey;
}

.arrival-times {
  color: black;
}

.hoverable:hover {
  background-color: rgba(193, 125, 191, .2);
}
.location-segment{

  .location-segment-info {
    border: 1px solid black;
    border-radius: 5px;
  }

  div{
    height: 100%;
  }
}
.autoRoot {
  position: relative
}

.autoContainer {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #555555;
    width: 100%;
    z-index: 10;
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.transportation-modes {
  >div {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.nav-hover {
  color:rgb(146,146,146);
  
}
.nav-hover:hover {
  color: #C17DBF
}
