$julie-purple: #C17DBF;
$julie-grey: #929292;

body {
  // margin: 0;
  // padding: 0;
  font-family: sans-serif;
}


.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-footer {
  flex: none; /* 2 */
}

// General purpose
.julie-purple {
  color: $julie-purple;
}

.julie-grey {
  color: $julie-grey;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}


// Form submission page
.alert {
  padding: 3px;
  height: 55px;
  text-align: center;
}

.alert-text {
  margin-top: 10px;
  margin-left: 30px;
}

.start-time {
  float: left;
  width: 40%;
  margin-right: 10%;
}

.end-time {
  float: left;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 25px;
}

.time-input {
  text-align-last:center;
}

.plan-itinerary {
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}

.map-icon {
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  transform: rotate(30deg);
  height: 64px;
  width: 100px;
}

// Location Selection page
.location-card {
  margin-bottom: 10px;
  border-color: #C17DBF;
  cursor: pointer;
}

.location-image {
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 150px;
  width: 35%;
  height: 100px;
  float: left;
  margin-right: 5%;
}

.location-info {
  display: inline-block;
  float: left;
  width: 60%;
}

.location-info-title {
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: 2px;
}

.location-info-description {
  font-size: 14px;
  height: 80px;
  overflow: hidden;
}

// Progress Bar
.progress-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.progress-bar-wrapper .progress-bar:first-of-type {
    background:lightblue !important;
    margin-top:5px;
}

.progress-bar-wrapper .progress-bar:last-of-type {
  background: $julie-grey !important;
  margin-top:5px;
}

.progress-start-time {
  float: left;
  margin-left: 5px;
}

.progress-end-time {
  float: right;
  margin-right: 5px;
}

// Location Overview

.map-container {
  width: 90%;
  margin: 20px auto 0px auto;
}

.col-wrapper {
  padding-left: 0px !important;
}

.location-segment-title-container {
  position: relative;
  display: inline-block;
  width: 60%;
  height: 75px;
}

.location-segment-title {
  color: black;
  font-size: 18px;
}

.location-segment-title-link {
  color: #4591a8;
  font-size: 18px;
}

.location-segment:hover {
  text-decoration: underline;
}

.location-row {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.location-segment-image {
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  width:33%;
  height: 65px;
  float: left;
  margin-right: 5;
}


//
.hoverable:hover {
  background-color: rgba(193, 125, 191, .2);
}

.reverse-hoverable {
  cursor: pointer;
  clear: both;
  border: 1px solid $julie-purple;
  background-color: white;
  color: $julie-purple;
}

.reverse-hoverable:hover {
  background-color: $julie-purple;
  color:white;
  border: 1px solid $julie-purple;
}

.reverse-hoverable-text {
  color:white;
}
.reverse-hoverable-text:hover {
  color: $julie-purple;
}

.autoRoot {
  position: relative
}

.autoContainer {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #555555;
    width: 100%;
    z-index: 10;
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.transportation-modes {
  >div {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.nav-hover {
  color:$julie-grey;

}
.nav-hover:hover {
  color: $julie-purple
}
