body {
  font-family: sans-serif; }

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.app-footer {
  flex: none;
  /* 2 */ }

.departure-times {
  color: darkgrey; }

.arrival-times {
  color: black; }

.hoverable:hover {
  background-color: rgba(193, 125, 191, 0.2); }

.reverse-hoverable {
  cursor: pointer;
  clear: both;
  border: 2px solid #C17DBF;
  background-color: #C17DBF;
  color: white; }

.reverse-hoverable:hover {
  background-color: white;
  color: #C17DBF; }

.reverse-hoverable-text {
  color: white; }

.reverse-hoverable-text:hover {
  color: #C17DBF; }

.location-segment .location-segment-info {
  border: 1px solid black;
  border-radius: 5px; }

.location-segment div {
  height: 100%; }

.autoRoot {
  position: relative; }

.autoContainer {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #555555;
  width: 100%;
  z-index: 10; }

.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.transportation-modes > div {
  margin-right: 10px; }
  .transportation-modes > div:last-child {
    margin-right: 0px; }

.nav-hover {
  color: #929292; }

.nav-hover:hover {
  color: #C17DBF; }
