body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 200px;
  min-height: 100%;
}

.location-segment .location-segment-info {
  border: 1px solid black;
  border-radius: 5px; }

.location-segment div {
  height: 100%; }
